version: '3.8'

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - frontend
      - backend
    networks:
      - app-network
    restart: always

  frontend:
    build:
      context: ./srcs/frontend
      dockerfile: ./Dockerfile.prod
    expose:
      - "80"
    networks:
      - app-network
    depends_on:
      - backend

  backend:
    build:
      context: ./srcs/backend
      dockerfile: ./Dockerfile
    environment:
      - NODE_ENV=production
    expose:
      - "3000"
    networks:
      - app-network

  db:
    image: postgres:16
    container_name: db
    environment:
      POSTGRES_USER: alex2t
      POSTGRES_PASSWORD: password2ouf
      POSTGRES_DB: mydatabase
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./initdb/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: alexandre@lacravatesolidaire.org
      PGADMIN_DEFAULT_PASSWORD: password2ouf
    ports:
      - "8080:80"
    depends_on:
      - db
    networks:
      - app-network
    volumes:
      - pgadmin_data:/var/lib/pgadmin

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
  pgadmin_data:
